---

---

<div class="check-icon">
  <div class="badge soft-lab-back-color lab-font-color badge-rounded-circle">
    <i class="fe fe-check"></i>
  </div>
</div>

<style>
  .check-icon {
    width: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .check-icon path {
    stroke: var(--bs-gray-700);
  }
  .soft-lab-back-color {
    background-color: #530bff14;
  }
</style>
