---
import { Image } from "astro:assets";

interface Porps {
  title: string;
  location: string;
  image: string;
}

const { image } = Astro.props;

const imgSrc = '{"imgSrc": "' + image.src + '"}';

---

<a data-bigpicture={ imgSrc } class="size-image pointer mb-6 mb-lg-0 shadow-light-lg pointer">
    <Image
      class="card-img-top w-100 h-auto rounded"
      src={ image }
      alt="..."
    />
</a>


<style>
  .size-image {
    width: 240px;
  }
</style>