html, body {
  scroll-behavior: smooth;
}

/* p bar */
.loader-scene {
  z-index: 1031;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
}
/* resize in diferent screens pending */
.loader-body {
  width: 800px;
}
.pb-wrap .progress{
  height: 1.8rem;
}
.pb-transition {
  background-color: #633fb9;
  width: 100%;
  animation-name: progress-bar;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}
@keyframes progress-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* p bar */

/** PRICING CARDS */

.card-best-pricing {
  transform: scale(1.02);
  width: 20.5rem;
  position: relative;
  bottom: 0.6rem;
  transition-property: box-shadow, bottom;
  transition-duration: 0.5s;
}
.card-best-pricing:hover {
  bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-pricing {
  width: 20.5rem;
  position: relative;
  bottom: 0;
  transition-property: box-shadow, bottom;
  transition-duration: 0.5s;
}
.card-pricing:hover {
  bottom: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.year-pricing {
  font-size: 1rem;
}
.list-group-pricing {
  list-style: none;
}
.card-list-item {
  font-size: 1rem;
}
.check-icon {
  width: 2.6rem;
}
.check-icon path {
  stroke: var(--bs-gray-700);
}

.web-s-control {
  width: 100%;
}
.web-s-control img{
  width: 100%;;
}
.pricing-ribbon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  text-align: right;
  overflow: hidden;
  height: 10rem;
}
.ribbon-body {
  width: 12rem;
  position: relative;
  top: 1rem;
  left: -3.1rem;
  transform: rotate(-45deg);
  padding: 0.6rem;
  background: rgb(47,7,199);
  background: linear-gradient(90deg, rgba(47,7,199,1) 0%, rgba(105,17,179,1) 36%, rgba(87,17,196,1) 71%, rgba(170,22,187,1) 100%);
}

/*  #58dd1c icon green 
  lp #6f6aff
  #5c56ff
  dp #3932f3
*/

.lab-font-color {
  color: #693572;
}
.lab-font-color:hover {
  color: #693572;
}
.lab-font-color:active {
  color: #62326b !important;
}
.lab-font-color:focus {
  color: #62326b !important;
}

.lab-back-color {
  background-color: #633fb9;
}
.lab-back-color:hover {
  background-color: #6741c0;
}
.lab-back-color:active {
  background-color: #6741c0 !important;
}
.button-knowus:active {
  background-color: rgba(51,94,234,.1) !important;
}

.icon-continer {
  height: 100px;
}

.brand-resize img {
  height: 122% !important;
}

.icon-continer img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.videos-img-resize {
  width: 60%;      
}

.lab-logo {
  width: 140px;
  height: auto;
}
.footer-brand  {
  margin-top: 2rem;
}


.footer-background {
  background-color: #dee2e6;
}  

.lab-brand-filter img{
  filter: hue-rotate(90deg) grayscale(100%);
}

.justify-text {
  text-align: justify;
}

.link-scroller {
  text-shadow: #c3aaff 2px 2px 4px;
  font-size: 1.2rem;
  color: #633fb9;
}

.link-scroller:hover{
  color: #633fb9;
  text-decoration: none;
}

.map-cyber {
  width: 100%;
  height: 420px;
  transition-property: height;
  transition-duration: 200ms;
}

.footer-links {
  position: relative;
  z-index: 1;
}

@media (max-width: 992px) {
  .videos-img-resize {
    width: 72%;    
  }
}
@media (max-width: 915px) {
  .map-cyber {
    height: 190px;
  }
}
@media (max-width: 767px) {
  .videos-img-resize {
    width: 52%;    
  }
}
