---
import Nav from "../components/Nav.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";

interface Props {
  title: string;
  ogTitle: string;
  description: string;
  ogDescription: string;
  keywords: string;
  date: string;
}

const { title, ogTitle, description, ogDescription, keywords, date } = Astro.props;

---

<SubPageLayout
  title={ title }
  ogTitle={ ogTitle }
  description={ description }
  ogDescription={ ogDescription }
  keywords={ keywords }
>
  <Nav />

  <div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="blog-container">
      <h1>{ title }</h1>
      <p>{ date }</p>
    </div>
  </div>

</SubPageLayout>


<style>
  .blog-container {
    padding-top: 4rem;
    width: 800px;
  }

  .blog-container h1 {
    font-size: 3.4rem;
    font-weight: 600;
  }
</style>