---
import BlogEntryCard from "../components/blog/BlogEntryCard.astro";
import Footer from "../components/shared/Footer.astro";
import Nav from "../components/shared/Nav.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";

import Blog1Image from "../img/blog/1.webp";
import Blog2Image from "../img/blog/2.webp";

---

<SubPageLayout
title="LABSTUDIO | Blog"
ogTitle="LABSTUDIO | Blog"
description="Bienvenido al blog de Labstudiomedia, donde compartimos noticias, consejos y tendencias sobre fotografía profesional, producción de video, desarrollo web y videos aéreos con dron. Nuestro enfoque centrado en el cliente y nuestra pasión por la creatividad nos distinguen. Descubre cómo puedes potenciar tu marca con nuestras soluciones creativas."
ogDescription="Bienvenido al blog de Labstudiomedia, donde compartimos noticias, consejos y tendencias sobre fotografía profesional, producción de video, desarrollo web y videos aéreos con dron. Descubre cómo puedes potenciar tu marca con nuestras soluciones creativas en Los Mochis, Sinaloa."
keywords="Blog de fotografía, Blog de video, Consejos de desarrollo web, Tendencias en marketing digital, Fotografía profesional, Producción de video, Desarrollo web, Videos aéreos, Fotografía en Los Mochis, Producción audiovisual en Sinaloa"
>
  <Nav />

  <div class="w-100 d-flex flex-column align-items-center pb-12">
    <div class="blog-container">
      <h1>Post's Recientes</h1>

      <div class="d-flex flex-wrap pt-6 gap-control">
        <BlogEntryCard
          title="10 Motivos por los Cuales una Página Web es Importante para un Negocio"
          description="Descubre por qué tener una página web es esencial para tu negocio. Aquí te presentamos 10 razones clave para mejorar tu presencia en línea y aumentar tus ventas."
          image={Blog1Image}
          link="10-motivos-por-los-cuales-una-pagina-web-es-importante-para-un-negocio"
          delay={0}
        />
        <BlogEntryCard
          title="La Importancia del Diseño Responsivo en la Era Móvil"
          description="Descubre por qué el diseño responsivo es esencial en la era móvil. Aprende cómo un sitio web adaptable puede mejorar la experiencia del usuario y aumentar la conversión."
          image={Blog2Image}
          link="la-importancia-del-diseno-responsivo-en-la-era-movil"
          delay={100}
        />
      </div>

    </div>
    
  </div>

  

  <Footer
    useMap={false}
  />
</SubPageLayout>


<style>
  .blog-container {
    padding-top: 4rem;
    width: 800px;
  }

  .blog-container h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .gap-control {
    gap: 20px;
  }
</style>