---
import BlogEntryCard from "../components/blog/BlogEntryCard.astro";
import Footer from "../components/shared/Footer.astro";
import Nav from "../components/shared/Nav.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";


---

<SubPageLayout
  title=""
  ogTitle=""
  description=""
  ogDescription=""
  keywords=""
>
  <Nav />

  <div class="w-100 d-flex flex-column justify-content-center align-items-center pb-12">
    <div class="blog-container">
      <h1>Post's Recientes</h1>


      <div class="row row-cols-1 row-cols-md-2 gy-5 gx-6 pt-6">
        <BlogEntryCard
          title="10 Motivos por los Cuales una Página Web es Importante para un Negocio"
          description="Descubre por qué tener una página web es esencial para tu negocio. Aquí te presentamos 10 razones clave para mejorar tu presencia en línea y aumentar tus ventas."
          image="/images/blog/1.jpg"
          link="10-motivos-por-los-cuales-una-pagina-web-es-importante-para-un-negocio"
        />
        <BlogEntryCard
          title="La Importancia del Diseño Responsivo en la Era Móvil"
          description="Descubre por qué el diseño responsivo es esencial en la era móvil. Aprende cómo un sitio web adaptable puede mejorar la experiencia del usuario y aumentar la conversión."
          image="/images/blog/1.jpg"
          link="la-importancia-del-diseno-responsivo-en-la-era-movil"
        />
      </div>

    </div>
  </div>

  <Footer
    useMap={false}
  />
</SubPageLayout>


<style>
  .blog-container {
    padding-top: 4rem;
    width: 800px;
  }

  .blog-container h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }
</style>