---
import NavLogo from '../img/labstudio/usBrand/logo-purple.png';
---

<!-- NAVBAR -->
<header>
  <nav class="navbar navbar-light bg-white navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="./index.html">
        <img src={ NavLogo.src } alt="labstudio logo" class="lab-logo mb-2">
      </a>
    </div>
  </nav>
</header>

<style>
  .lab-logo {
    width: 220px;
    height: auto;
  }
</style>

