---

// test image only for dev
import { Image } from 'astro:assets';
import testImage from '../../img/test/Diseño sin título.png';

interface Props {
  title: string;
  description: string;
  link: string;
  image: ImageMetadata;
}

const { title, description, link, image } = Astro.props;

let procesedTitle = title;
let beCuted = false;

if (title.length > 26) {
  beCuted = true;
  procesedTitle = title.substring(0, 26);
}

if (procesedTitle.endsWith(' ')) {
  procesedTitle = procesedTitle.substring(0, procesedTitle.length - 1);
}

if (beCuted) {
  procesedTitle += '...';
}

---

<div class="col">
  <a class="card minimal-shadow pointer fadeIn" href={ '/blog/' + link }>
    <Image src={ testImage } class="card-img-top" alt={ 'Imagen alusion de: ' + title } />
    <div class="card-body pt-4">
      <h2 class="card-title m-0 mb-1">{ procesedTitle }</h2>
      <p class="card-text">{ description }</p>
    </div>
  </a>
</div>

<style>

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-body h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  .minimal-shadow {
    box-shadow: 0 4px 5px 0 rgba(51, 51, 51, 0.103);
    transition-property: box-shadow;
    transition-duration: 0.3s;
  }

  .minimal-shadow:hover {
    box-shadow: 0 4px 5px 0 rgba(51, 51, 51, 0.203);
  }
</style>