---
import {type ImageMetadata} from "astro";

interface Props {
  imageSrc: ImageMetadata,
  delay: number,
  width: number,
  height: number
}

const { imageSrc, delay, width, height } = Astro.props;

---

<div class="width mb-4 mb-md-0 past-clients" data-aos="fade-in" data-aos-delay={delay}>
  <div class="img-fluid text-gray-600 mb-2 mb-md-0">
    <img
      src={imageSrc.src}
      alt="Logo de la empresa Alfer"
      width={ width }
      height={ height }
    />
  </div>
</div>

<style>
  .width {
    width: 130px;
    height: auto;
  }
  img {
    filter: hue-rotate(90deg) grayscale(100%);
  }
</style>