---
interface Props {
	title: string;
	ogTitle: string;
	description: string;
	ogDescription: string;
	keywords: string;
}

const { title, ogTitle, description, ogDescription, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index">
		<title>{ title }</title>
		<link rel="canonical" href="https://labstudiomedia.com/"/>
		<meta name="google-site-verification" content="O5K-700LvgkrdOo5Ir4cyfOGDaastTK5-TNAC-4utPo">
		<meta name="og:title" content={ ogTitle }>
		<meta name="description" content={ description }>
		<meta name="og:description" content={ ogDescription }>
		<meta name="keywords" content={ keywords }>
		<meta name="author" content="LabStudioMedia">
		<meta name="og:author" content="LabStudioMedia">
		<meta name="og:site_name" content="LABSTUDIO | Soluciones Digital">
		<meta property="og:type" content="website">
		<meta property="og:image" itemprop="image primaryImageOfPage" content="/pageView.png">
		<meta property="og:url" content="https://labstudiomedia.com/">
		<link rel="shortcut icon" type="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/styles/libs.bundle.css">
		<link rel="stylesheet" href="/styles/theme.bundle.css">
	</head>
	<body>
		<slot />
	</body>
	<script src="../js/theme.bundle.js"></script>
	<script src="../js/vendor.bundle.js"></script>
</html>
